/* Set the root element's font-size to 16px and a div element's font-size to 2rem. */

html {
    /* Set font-size to 16px */
    font-size: 16px;
}

.rem-size {
    /* Set font-size to 2rem */
    font-size: 2rem;
    color: blue;
}